.all-page {
    font-family: "Montserrat";
    color: #373737;
    background-color: rgb(0, 0, 0, 0.0001);
}

.menu {
    list-style: none; 
    text-align: center;  
    margin: 25.5px;
}
.menu-link {
    color: #ff0000;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin-right: 72px;
    line-height: 18px;
    letter-spacing: 2.7px;
    font-family: "Montserrat";
}

.list {
    display: inline-block;
    vertical-align: middle;
}
.image {
    width: 100%;
}
.content {
    text-align: center;
    margin: 48px;
}
.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26.82px;
    letter-spacing: 3.3px;
}
.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.button {
    display: inline-block;
    
    
}
.click-me {
    color: #ffffff;
    background-color: #ff0000;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    border: 4px;
    width: 191px;
    padding-top: 19px;
    padding-bottom: 18px;
    padding-left: 42.5px;
    padding-right: 43.5px;
    margin-top: 62px;
    cursor: pointer;
    border-radius: 5px;

}
.click-me:hover { 
    background: #ff6600;
  } 
  .footer-text {
    text-align: right;
    margin-bottom: 29px;
    margin-right: 105px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;
  }